API_PORT=3000
API_HOST=127.0.0.1
MONGODB_URI=mongodb://order-win-mongodb:27017/order_win_tracker?replicaSet=rs0
DRISHTI_API_KEY=
DRISHTI_BASE_URL=https://developers.manasija.in
DRISHTI_TIMEOUT_MS=30000
API_RATE_LIMIT_WINDOW_SECONDS=60
API_RATE_LIMIT_MAX=60
INGESTION_LOOKBACK_MINUTES=15
INGESTION_PAGE_SIZE=50
INGESTION_MAX_PAGES=100
